@import url("../../node_modules/@fortawesome/fontawesome-svg-core/styles.css");

.rv-crosshair__inner__content {
  width: 120px;
}

.card-chart {
  padding-top: 15px;
  padding-right: 5px;
  height: 300px;
  margin-left: -25px;
}

.card-plot {
  margin-top: 0px !important;
  border-radius: 0px !important;
}

.card-header-dark {
  background: #3c4858;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.inline-btn {
  margin: 0 !important;
}

.page-header {
  height: 50vh;
}

.section {
  padding-top: 0;
  padding-bottom: 70px;
}

.profile-img {
  max-width: 250px;
  width: 70%;
  margin: 0 auto;
  transform: translate3d(0, -50%, 0);
}

.profile-name {
  margin-top: -80px;
  margin-bottom: 20px;
}
.profile-title {
  margin-block-start: 0 !important;
  font-family: "Open Sans", serif;
  /* text-transform: uppercase; */
}

.nav-li:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
}
.page-container {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.btn.btn-fab,
.btn.btn-just-icon {
  font-size: 20px;
}

select.form-control:not([size]):not([multiple]) {
  height: 36px;
}

footer ul li a {
  font-size: 10px !important;
}

.footer .copyright {
  text-align: right !important;
  /* float: right !important; */
}

.error-text {
  float: right;
  color: #ff3636 !important;
  font-size: 12px;
  line-height: 2 !important;
  padding-right: 10px;
}

.text-box {
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding-right: 15px;
  padding-left: 25px;
}

.text-box .popover {
  position: relative;
  max-width: 100%;
  z-index: 0;
  box-shadow: none;
  /* border: 1px solid rgba(156, 39, 176, 0.5); */
  background: #f2f3f7;
}
.box-left {
  margin-left: 1rem;
}
.box-right {
  margin-right: 1rem;
}

.box-left .popover {
  /* margin-right: 1.5rem; */
}
.box-right .popover {
  /* margin-left: 1.5rem; */
}

.bs-popover-left .arrow::after,
.bs-popover-auto[x-placement^="left"] .arrow::after {
  right: 1px;
  border-left-color: #f2f3f7;
}
.bs-popover-right .arrow::after,
.bs-popover-auto[x-placement^="right"] .arrow::after {
  left: 1px;
  border-right-color: #f2f3f7;
}
.round-icon {
  display: block;
  border-width: 1px;
  border-radius: 30px !important;
  color: rgba(156, 39, 176, 0.8);
  height: 2.375rem;
  min-width: 2.375rem;
  width: 2.375rem;
  padding: 0;
  font-size: 0.9375rem;
  line-height: 2.375rem;
  text-align: center;
}

.text-box .round-icon-left {
  margin-left: -40px;
  margin-top: -8px;
  float: left;
}

.text-box .round-icon-right {
  margin-right: -40px;
  margin-top: -8px;
  float: right;
}

.popover-body p {
  margin-bottom: 0px;
  color: #5a5a5a;
  /* white-space: pre-wrap; */
}

.popover-box-container {
  padding: 12px;
  padding-right: 0px !important;
  max-width: 100%;
}

.popover-body h6 {
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
}

h6 .text-muted {
  font-weight: 400;
  font-size: 12px;
  margin-left: 12px;
}

.container.about {
  text-align: justify;
}

.container.about .blockquote p {
  font-size: 14px;
}

ul li {
  font-size: 14px !important;
}

.container.about .section {
  padding: 12px 0px;
}

.modal.show {
  background-color: rgba(255, 255, 255, 0.75);
}

@media all and (max-width: 991px) {
  .nav-ul {
    display: table;
    justify-content: center;
  }
  .nav-li {
    display: table-cell;
    text-align: center;
    flex-grow: 1;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {
  footer ul li a {
    font-size: 12px !important;
  }
}
@media (min-width: 425px) {
  .nav-item .nav-link {
    font-size: 15px !important;
  }
  footer ul li a {
    font-size: 12px !important;
  }
}

@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-chart {
    height: 400px !important;
    margin-left: 0px !important;
  }

  .nav-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    max-width: 100%;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-page-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
